.subscribe__wrap {
    height: 448px;
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
  }
  
  .subscribe__block {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    text-align: center;
  }
  
  .subscribe__block_left {
    margin-top: 97px;
    width: 360px;
    height: 225px;
  }
  
  .subscribe__block__img {
    margin-bottom: 30px;
  }
  
  .subscribe__text {
    margin: 0;
  }
  
  .subscribe__block_right {
    margin-top: 150px;
    width: 557px;
    color: #222224;
  }
  
  .subscribe__title {
    margin-bottom: 32px;
  }
  
  .subscribe__span_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
  }
  
  .subscribe__span_text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }
  
  .subscribe__form {
    height: 49px;
    display: flex;
    justify-content: center;
  }
  
  .subscribe__field {
    padding: 0 22px;
    background-color: #E1E1E1;;
    border: none;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  .subscribe__field::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
  }
  
  .subscribe-btn {
    padding: 0 20px;
    background-color: #F16D7F;;
    border: none;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }