.header {
    background-color: #222222;
  }
  
  .header__wrap {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
  }
  
  .logo, .header__contact, .header__menu {
    margin-right: 33px;
  }
  
  .header__menu {
    background-color: #222222;
  }

  .header__items {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .header__item__form {
    display: flex;
    align-items: center;
  }

  .search {
    position: relative;
  }

    .search__input {
    margin-left: 15px;
    padding: 3px;
    max-width: 150px;
    color: white;
    background-color: #222222;
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0;
  }


  
